Package: jp.uzra.enabledsreturn
Name: EnableDSReturn
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Enable return on DeepSeek iOS app
Maintainer: uz.ra
Author: uz.ra
Section: Tweaks
